/*m1-0*/ 
	.menunav{font-family:"Gotham Book", sans-serifs; z-index:1; position:relative; width:450px;}
	#menunav1{position:absolute; margin:26% 20% 25% 26%; font-size:16px; text-align:center;}
	#menunav2{position:absolute; margin:76% 37% 12% 22%; font-size:13px;}
	#menunav3{position:absolute; margin:62% 5% 25% 51%; font-size:16px; text-align:center;}
	#menunav4{position:absolute; margin:4% 15% 15% 38%; font-size:12px;}
/*m4-1. m4.2*/ 
	.cyclevie, .cyclegestion{font-family:"Gotham Bold", sans-serifs; z-index:1; position:relative; width:450px;}
	#cycle1{position:absolute; margin:16% 20% 25% 34%; font-size:13px;}
	#cycle2{position:absolute; margin:37% 15% 35% 68%; font-size:13px;}
	#cycle3{position:absolute; margin:61% 5% 25% 66%; font-size:13px;}
	#cycle4{position:absolute; margin:81% 25% 25% 42%; font-size:13px;}
	#cycle5{position:absolute; margin:61% 25% 25% 13%; font-size:13px;}
	#cycle6{position:absolute; margin:37% 35% 35% 16%; font-size:13px;}
	/*cycle gestion*/
	#cycle7{position:absolute; margin:13% 20% 25% 30.5%; font-size:13px;}
	#cycle8{position:absolute; margin:34.5% 2% 2% 62%; font-size:13px; text-align:center;}
	#cycle9{position:absolute; margin:62% 2% 3% 69%; font-size:13px;}
	#cycle10{position:absolute; margin:85% 25% 25% 32%; font-size:13px;}
	#cycle11{position:absolute; margin:62% 25% 25% 4%; font-size:13px;}
	#cycle12{position:absolute; margin:36% 35% 35% 14%; font-size:13px;} 
	
/*JD m6-2-4 Mesure Rendement*/
	.mesureRendement{font-family:"Gotham Bold", sans-serifs; z-index:1; position:relative; width:1000px;}
	#mesureRendement1{position:absolute; margin:5% 3% 1% 6%; font-size:15px; text-align:center;}
	#mesureRendement2{position:absolute; margin:14% 2% 2% 19%; font-size:15px; text-align:center;}
	#mesureRendement3{position:absolute; margin:22.5% 2% 2% 19%; font-size:15px; text-align:center;}
	#mesureRendement4{position:absolute; margin:31% 2% 2% 19%; font-size:15px;}
	#mesureRendement5{position:absolute; margin:41% 5% 5% 16%; font-size:15px; text-align:center;}
	#mesureRendement6{position:absolute; margin:22.5% 1% 1% 47%; font-size:15px;}
	#mesureRendement7 {position:absolute; margin:31% 1% 1% 47%; font-size:15px;}
	#mesureRendement8 {position:absolute; margin:39.5% 1% 1% 47%; font-size:15px; text-align:center;}
	#mesureRendement9 {position:absolute; margin:9% 0 0 74%; font-size:15px; text-align:center;}
	#mesureRendement10 {position:absolute; margin:22.5% 5% 5% 83%; font-size:15px; text-align:center;}
	#mesureRendement11 {position:absolute; margin:31% 5% 5% 83%; font-size:15px; text-align:center;}
	#mesureRendement12 {position:absolute; margin:39.5% 5% 5% 83%; font-size:15px; text-align:center;}
	
/*JD m7-2 Modèle gestion*/
	.modelegestion{font-family:"Gotham Bold", sans-serifs; z-index:1; position:relative; width:450px;}
	#modelegestion1{position:absolute; margin:18% 23% 1% 26%; font-size:13px; text-align:center;}
	#modelegestion2{position:absolute; margin:42% 2% 2% 62%; font-size:13px; text-align:center;}
	#modelegestion3{position:absolute; margin:68% 1% 1% 64%; font-size:13px; text-align:center;}
	#modelegestion4{position:absolute; margin:92% 25% 25% 31%; font-size:13px;}
	#modelegestion5{position:absolute; margin:70% 25% 25% 9%; font-size:13px; text-align:center;}
	#modelegestion6{position:absolute; margin:44% 35% 35% 12%; font-size:13px;}
	
	#modelegestion7 {position:absolute; margin:5% 35% 35% 45%; font-size:13px;}
	#modelegestion8 {position:absolute; margin:55% 35% 35% 39%; font-size:13px; text-align:center;}
/*JD m6-2-3 architecture Programmes*/
	.architectureProg{font-family:"Gotham Bold", sans-serifs; z-index:1; position:relative; width:987px;}
	#architectureProg0{position:absolute; margin:60px 0 0 0; width:100px;}
	#architectureProg1{position:absolute; margin:165px 0 0 0; width:100px;}
	#architectureProg2{position:absolute; margin:290px 0 0 0; width:130px;}
	#architectureProg3{position:absolute; margin:40px 0 0 412px;}
	#architectureProg4{position:absolute; margin:154px 0 0 244px;}
	#architectureProg5{position:absolute; margin:154px 0 0 456px;}
	#architectureProg6{position:absolute; margin:154px 0 0 662px;}
	#architectureProg7{position:absolute; margin:275px 0 0 315px;}
	#architectureProg8{position:absolute; margin:275px 0 0 542px;}
	#architectureProg9{position:absolute; margin:385px 0 0 200px;}
	#architectureProg10{position:absolute; margin:385px 0 0 408px;}
	#architectureProg11{position:absolute; margin:385px 0 0 616px;}
	#architectureProg12{position:absolute; margin:12px 0 0 880px;}
	#architectureProg13{position:absolute; margin:214px 0 0 880px;}


/************************************************************************************
Boutons des capsules

*************************************************************************************/
.capsules {
    font-size:20px;
    font-weight:700;
    padding:7px;
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    border:2px solid #fff;
    color:#e6e6e6;
    font-family:'museo500',Helvetica,Arial;
    background-color:#046381;
    display:inline-block;    
    -webkit-border-radius:10px;
    -moz-border-radius:10px;		
}

.capsulesContainer {
    /*background-image:url(../I010/capsulesBack.png);
    background-repeat:no-repeat;
    background-position:center;*/
    /*background-position:195px 125px;*/
	background-position:center;
	padding:15px 0px 0px 0px;
	min-height:500px;
	min-width: 870px;
	/*width:870px;*/
	width:80%;
	margin-right: auto;
	margin-left: auto;
	position:relative;

	
}
.capsulesContainer > span > span{display:block;}
.capsulesContainer a .capsules {
    text-decoration:none;
    float:left;
	line-height:40px;	
	padding-top:0px;
	padding-bottom:0px;
}


span.texteCapsule {
	line-height: 74px;
	vertical-align: middle;
	height: 74px;
	display: inline-block;
}
span.texteCapsule.droite{height:64px; line-height:64px}
span.texteCapsule span.alignVert{
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2em;
	text-align: left;
}
span.texteCapsule a{
	vertical-align: middle;
	display: inline-block;
}

.capsulesContainer a .capsules:hover, .capsulesContainer a .capsule:focus{
	text-shadow:0 -1px 0 rgba(30,30,30,0.8);
    background-color:#0580A7;
    border:2px solid #000
}

a.capsules:hover,a.capsules:focus {
  font-family:'museo500',Helvetica,Arial;
    color:#e6e6e6;
    font-size:20px;
    font-weight:700;
    padding:7px;
    padding-left:10px;
    padding-right:10px;
    text-shadow:0 -1px 0 rgba(30,30,30,0.8);
    background-color:#0580A7;
    border:2px solid #000
}

.leftChoice{
	width:42%; display:inline-block; float:left; text-align:left;
}
.middleChoice{
	width:15%;
	float: left;
	text-align: center;
	margin-top: 175px;

}
.middleChoice a{float:none;}
.rightChoice{width: 44%;display: inline-block; text-align:right; margin-left:-3%;}

.tabsBlue {
    color: #06c;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    list-style: outside none none;
}

.tabsBlueBold {
    color: #06c;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    list-style: outside none none;
	font-weight: bold;
}


.tabsRed {
    color: #bb3c3c;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
}

.tabsRedBold {
    color: #bb3c3c;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}


.indentedText {
	margin-left: 50px;
	margin-bottom: 20px !important;
}

.indentedText p {
	margin: 0px !important;
}

.pass {
	border-radius: 50%;
	background: #4b6e20;
	padding: 0px 3px 0px 3px;
	color: #ffffff;
	margin-right: 3px;
}

.fail {
	border-radius: 50%;
	background: #bb3c3c;
	padding: 0px 3px 0px 3px;
	color: #ffffff;
	margin-right: 3px;
}



/* C114/C117 Styles */

.ipa-symbol:before {
	content: "[\00a0";
}
.ipa-symbol:after {
	content: "\00a0]";
}
#soundTables button strong {
	font-weight: 900;
	color: #FFFFCC;
}
#soundTables .ipa-symbol strong {
	font-weight: 400;
	color: #FFFFFF;
}
#soundTables figure {
    padding: 0 !important;
}
#soundTables .wb-mm-ctrls {
	display: none;
}
#variationsWrapper {
}
#variationsWrapper .fixed {
	position: fixed;
	top: 0px;
}
#soundTables td, #variationsWrapper li {
	background-color: #FFFFFF;
	transition: background-color 2s ease;
}
#soundTables .highlight-cell, #variationsWrapper .highlight-cell {
	background-color: #FFFF66;
	transition: background-color 0s;
}

.gender-buttons {
	padding-right: 0;
	padding-bottom: 10px;
}
.gender-buttons div {
	background: #E3E3E6 url("../content/medias/images/speaker.png") top left no-repeat;
	padding-left: 49px;
	border: 1px solid #9D9D9D;
	border-radius: 3px;
}
.gender-buttons button {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.gender-buttons .gender-disabled img {
	opacity: 0.5;
}
.gender-buttons .gender-enabled img {
	opacity: 1;
}
.show-female .female, .show-male .male {
	display: block;
}
.show-male .female, .show-female .male {
	display: none;
}

/* Styles from original course */
li.check {list-style-type: none;background: url(I010/true.jpg) no-repeat top left;min-height: 25px;padding-left: 40px; margin-bottom:15px;}
li.check03 {list-style-type: none;background: url(I010/target.jpg) no-repeat top left;min-height: 25px;padding-left: 40px; margin-bottom:15px; }
li.cursor{margin-left:0px; margin-bottom:20px;  margin-top:20px; width:95%; background: url(I010/cursor.jpg) no-repeat top left; list-style-type: none; padding-left:50px; height:25px;}

/* Custom */
.no-top-margin { margin-top: 0; }
div.bubble{position: relative; border:1px #cdd1d4 solid; margin:15px;}
div.bubble img { z-index: 50;}
div.bubble .bubble-text { position: absolute; bottom:10px; left: 10px; z-index: 100; border: 1px #cdd1d4 solid; padding:8px; background: url(I010/bg_transparent_70.png) repeat;}
div.bubble .bubble-text h3, div.bubble .bubble-text h4, div.bubble .bubble-text h3 a { color: #000 !important; margin: 0; text-decoration: none;}
li.plus {list-style-type: none;background: url(I010/plus.jpg) no-repeat top left;min-height: 25px;padding-left: 40px; margin-bottom:15px; }
.download-icon {padding-left: 15px; background: url(I010/icon-download.gif) no-repeat top left;min-height: 15px; color:blue;}

.accordion details .tgl {
	background:#526453;
	color:#fff;	
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* -----------------------------------------------------

                  Custom Styles
				  
-------------------------------------------------------*/	
/*pour la pagnination */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current{ background-color:#335075;}*/
/* pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button.current{background: #616813;border-color: #ccc;}
.dataTables_wrapper .dataTables_paginate .paginate_button{color:#403a3b}
.paginate_button{color:#403a3b}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:focus, .dataTables_wrapper .dataTables_paginate .paginate_button:active{background-color:#3f5b80; color:#fff}

table.dataTable thead .sorting-icons {
 font-family: "Glyphicons Halflings";
}
/*JD Table center*/
.centertable {
	margin: 0px auto;
	table-layout:fixed;
}
.vert-align{
    vertical-align: middle !important;
}
.table-bordered {
	margin-bottom: 20px;
}

.table-bordered p {
	margin: 0 !important;
	padding: 0 !important;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td  {border: 1px solid #ccc !important;}
.dashed {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 1px;
	color: #999999;
}
/*JD Table basé sur mod1 m5-4 F112*/

.m5-4, .m17-6{
	border: 1px solid #333 !important;
	width:70%;
	background: !important;
	padding:4.5%;
}


.m5-4 table, .m17-6 table{
	border: 1px solid #333 !important;
	width:100%;
}
th{
	border: 1px solid #eee !important;
	padding:10px;
	
	background:#636363;
}
.m5-4 table th, .m5-4 table td, .m17-6 table th, .m17-6 table td{
	padding:1%;
}


/*polyfill progress*/
.progress{	
	min-width:200px;border:thin solid #ccc;
}
.progress-bar{
	background:#2572b4 !important;	
}

progress{
	-webkit-appearance: none;
	appearance: none;	
}
progress::-moz-progress-bar{
	background:#2572b4;
	border:thin solid #ccc;   
}
progress::-webkit-progress-bar{
	background:#fff;
	border:thin solid #ccc;
}
progress::-webkit-progress-value{
    background:#2572b4;   
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease; 
}
.wb-tabs [role="tablist"] li{
	background-color:#dbe4eb;
}



/* -----------------------------------------------------

                  Quiz Styles
				  
-------------------------------------------------------*/		
.qs-elearning-activity {margin-top:15px; margin-left: -1em;}
.qs-answers th{font-size:1.1em;}
.qs-answers {margin-left:35px;}
.qs-answers td{font-size:0.9em;}
.qs-generic {margin-left:20px;}
.qs-exercise{
	display: block;
	border: thin solid #ccc;
	padding: 15px;
	background-color:#FFF;
}
.qs-feedback-final p{font-size:1.2em;}
.pagination a{min-width:90px;text-align:center;}
.pagination li{display:inline-block; margin-right:20px;}
.qs-disabled{display:none;}
.qs-current-info{
	background-color:#44739d; /*main-quiz-header */
	padding:10px 15px 10px 25px;
	color:#fff;
	font-size:1.2em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
}
/*JD*/
.qs-text > legend{
  font-size: 16px !important;
  font-weight:bold;
}


  
  /* answer feeback */
.qs-feedback{	
	/*border: 5px solid #ccc;
	padding: 15px 15px 0px 15px;*/
	margin-top: 20px;
}
.qs-feedback span.glyphicon.glyphicon-remove + p{
	line-height:34px !important;
}
.qs-feedback .glyphicon.glyphicon-remove{
	float:left;
	margin-right:15px
}

.qs-right, .qs-wrong{
	padding:20px 20px 0px 20px;
	margin: 0px 20px 20px 20px;
}

.qs-right .glyphicon.glyphicon-ok{ color:#77ac3d;}
.qs-wrong .glyphicon.glyphicon-remove{ color:#a32828;}
.qs-right{ border:thin solid #77ac3d;}
.qs-wrong{ border:thin solid #a32828;}

/* general inputs */
input{width:inherit;}
input[type="radio"]{float:left;}
input[type="radio"] + label{ width:90%; padding:1em;}
.lt-ie9 input[type="radio"] + label{ width:90%; padding:0 0 0 1em; font-weight:100 !important;}
.lt-ie9 .qs-text{font-size:14px !important;}
label{display:inline; padding:0.5em; font-weight:normal !important; font-size:14px !important;}
.qs-num{font-size:18px;}
.qs-step1 .qs-nextquestion, .qs-step1 .qs-prevquestion, .qs-step3 .qs-nextquestion, .qs-step3 .qs-prevquestion {
	display:none;
}
.qs-step1 .qs-current-info, .qs-step3 .qs-current-info{display:none;}

.qs-nextquestion, .qs-submit-activity{background-color:#0f0}

/*questions/answers styles*/
	legend{font-size:16px !important; font-weight:bold !important;}
	label{font-weight:100;}

/** Hiding number style, add to bottom of styles **/
/******************
Quiz Numbering Style
******************/

.qs-question span.hiddenNumbering {
	display:none;
}


/* CSS for Captivate iframes */
iframe.captivateFrame {
	padding: 0;
	border:0;
	width: 801px;
	height: 631px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
	
	


/*******************
	Custom Styles
*******************/
.glyphicon-chevron-down:before{ color:#243224;} /* nav-bar-glyphicon */
.instructional {color: #006500 !important;}	
.textVersion {margin-bottom: 20px;}
.myInfo summary {font-weight: bold;}
.centeredText{text-align:center;}

.accordion .tgl-panel {border: none !important; padding: 2px; padding-bottom: 0 !important;}
.accordion .tgl-panel p {}
.accordion {margin-bottom: 20px;}

/* images */

.imgBorder {
	border: 3px solid #fff;
	box-shadow: 2px 2px 5px 4px rgba(0,0,0,0.11);
	}
	
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {padding: 10px 0px 15px 0px !important;}

figure {padding: 10px 0px 15px 0px !important;}

.imageLinks h4{
	padding-top: 10px;
}
/**********
   Notes
***********/
h5.note{margin-bottom:8px; margin-top:0; line-height:0; font-family:"Gotham Bold", sans-serif, "Myriad Pro";}
.pencil {color: #526453; border-bottom: 5px solid #526453;}
.pencilContainer{border:1px solid #526453; padding:15px; width:90%; margin-bottom: 10px; background-color:#f4f2e9;}

.answerLeft{
	color:#554768;
	font-size:22px;
	text-align:right;	
}

.caseStudy{
	background-color: #675a75;	
	text-align:center;
	color:#FFF;
	border:1px solid #3f364d;
}

.caseStudy:hover{
	background:#554768;	
}

ol.toolboxList{
	list-style-type:lower-alpha;
}



/** accordion styles **/
.accordion details summary{
	border:none;
	text-decoration:none !important;		
}

.accordion details summary:hover, .wb-tabs [role="tablist"] > li a:hover{
	background-color:#31412d; /* accordion/tabs-background-hover*/
	
}

.accordion details summary h5:hover{
	text-decoration:underline;	
}

dt{
	font-weight:normal;
}

.modal-body {
	padding-bottom: 20px;
}

 
figcaption {
    caption-side: bottom;
	font-size: 13px;
	margin-top: 15px;
}

select option {
	background: #FFF;
}

/* stops navigation from falling beside the headings */
main.container{
	clear:both;	
}

/*Firefox fix */
.no-details details.alert > summary {
  padding-left: 1.4em; 
  margin-left:0;
  
}

.wb-menu{
	/*height:auto;*/ /*nav-auto-height */
}
.no-details details.alert > summary:before {
    content: "\25BA\a0";

	}
	
.no-details details[open].alert > summary:before {
	color:#000000; /* accordion-firefox-triangle-colour-fix*/
	}

/*Procurment Phases Graphic */
#m1-3_graphpop{
	width:405px;
	height:405px;
	margin: 10px auto 20px;	
}

.m1-3_float{
	float:left;
	width:49%;	
}

.m1-3_float img{
	cursor: pointer;	
}

/* Quiz Button Styles */
.btn-default{
	background:#0c466b;
	color: #FFFFFF;
	border-color:#01353f;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active{
	background:#44739d;
	color: #FFF;
	border-color:#01353f;
}

.btn-default:visited{
	color:#FFF;
}

.timelineWidget{
	min-height:385px;
}

/******************
  Feedback Alert
******************/

.alert-feedback summary.h3{
	background: none;
	border: none;
	color:#333333;
}

.alert-feedback summary.h3{
	margin-left:2.5em;
}

.alert-feedback p{
	margin-left:4.5em;
}

.alert-feedback {
	padding:10px 15px;
	border: 1px solid #526453;
	border-radius:4px;
	margin-top:25px;
}

details[open] .alert-feedback{
	padding-bottom:5px;
}

.alert-feedback {
  background-color: #f4f2e9;
  /*border-color: #faebcc;*/
  color: #333333; 
}
  
details.alert-feedback > :first-child:before{
	margin-left:-40px;
}

.alert-feedback> :first-child:before {
  color: #526453 !important;
  content: "\e111" !important;
  margin-right:300px; 
}

 a.viewed:after{
  font-family:'Glyphicons Halflings';
  content:"\e013";
  color:#a7b62f;
  margin-right: 0;
  position: absolute;
  right: 5px;
  top:3px;
}

.wb-menu .sm.open li a{
	position:relative;
}



/* End Custom Content */


