@font-face {
    font-family: 'Gotham Bold';
	src:url('I010/Gotham/Gotham-Bold.eot');
	src:url('I010/Gotham/Gotham-Bold.eot?#iefix') format('opentype'), /* IE6-IE8 */
		url('I010/Gotham/Gotham-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('I010/Gotham/Gotham TrueType/Gotham-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
		
}

@font-face {
    font-family: 'Gotham Book';
	src:url('I010/Gotham/Gotham-Book.eot');
	src:url('I010/Gotham/Gotham-Book.eot?#iefix') format('opentype'), /* IE6-IE8 */
		url('I010/Gotham/Gotham-Book.woff') format('woff'), /* Pretty Modern Browsers */
		url('I010/Gotham/Gotham TrueType/Gotham-Book.ttf')  format('truetype'); /* Safari, Android, iOS */
}